{% extends 'base.html' %}

{% block title %} {{user.username}}'s Profile {% endblock %}

{% block content %}

  <h1>Username: {{ user.username }}</h1>
  <h3>First Name: {{ user.first_name }}</h3>
  <h3>Last Name: {{ user.last_name }}</h3>
  <h3>Email Address: {{ user.email }}</h3>

  <form>
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->

    <button formaction="/users/{{ user.username }}/notes/add" formmethod="GET" type="submit">Add Note</button>
    <button formaction="/logout" formmethod="POST" type="submit">Logout</button>
  </form>

  {% if user.notes %}
    <ul>
      {% for note in user.notes %}
        <li>
          <a href="">{{ note.title }}</a>
          <p>{{ note.content }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You have no notes.</p>
  {% endif %}

{% endblock %}